{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1 class="text-center">FOS User Bundle Tutorial</h1>
            </div>

            {% if routes is defined %}
            <div>
                {% for routeName, route in routes %}
                <li><a href="{{ route.path }}">{{ routeName | replace('_', ' ') }}</a></li>
                {% endfor %}
            </div>
            {% endif %}

            {% if text is defined %}
                <div>
                    {{ text }}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
