{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1 class="text-center">FOS User Bundle Tutorial</h1>
            </div>

            {% if text is defined %}
                <div>
                    {{ text }}
                </div>
            {% endif %}

            <h2>Members Options</h2>
            <ul>
                <li><a href="{{ path('member_home') }}">Members Area</a></li>
                <li><a href="{{ path('member_create') }}">Create new content</a></li>
            </ul>

            <h2>Admin Options</h2>
            <ul>
                <li><a href="{{ path('admin_home') }}">Admin Area</a></li>
            </ul>

        </div>
    </div>
{% endblock %}
